.application-skeleton {
  height: 5.625rem;
  margin-bottom: 0.5rem;
}

.application-card__menu-btn:disabled {
  cursor: not-allowed;
}

.application-card__menu-btn--danger:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
