.header {
  padding: 1.2rem 1.2rem;
  max-width: 1200px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.375rem;
  margin-bottom: 0;
  font-weight: 500;
}
