.login-nudge {
  background-color: var(--color-primary-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-lg);
  padding: 1rem;
  margin: 0.8rem 1.2rem;
}
